body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-color:ivory;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }

  li {
    float: right;
    border-right:1px solid #bbb;
  }
  
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px  ; 
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }

  #test {
    width: 60%;
    margin-left: 20%;
    height: 600px;
    background-color: aliceblue;
    text-align: center;
  }

  h1 {
    padding-top: 25px;
    font-weight: 500;
    font-size: 40px;
    padding-bottom: 50px;
  }

  #test p {
    line-height: 2rem;
    font-size: 20px;
  }

#footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: cadetblue;
    height: 50px;
    color: white;
    text-align: center;
}

input{
  width: 80%;
  padding: 12px 20px;
  margin: 8px 0;
  border: none;
  box-sizing: border-box;
  background-color: rgb(227, 240, 252);
  }

button {
  height: 50px;
  width: 100px;
  margin-top: 20px;
  background-color: rgb(227, 240, 252);
  border: none;
}

button:hover {
  background-color: rgb(147, 194, 239);
}

.error {
  color: red;
  margin-top: -50px;
}

.success {
  color: green;
  margin-top: -50px;
}